@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'ThatThatNewRomanTest';
	src: url('/fonts/ThatThatNewRomanTest-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

html {
	@apply scroll-smooth min-h-[100svh] h-full font-ThatThatNewRomanTest;
}

body {
	@apply min-h-[100svh] h-full;
}

#root {
	@apply flex flex-col justify-center h-full min-h-[100svh];
}
